body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
	margin: 0;
	padding: 0 10%;
}
.dark {
	background-color: rgba(0, 0, 0, 0.2);
	transition: all 0.5s ease-in-out;
}

.light {
	background-color: #fff;
	color: black;
	transition: all 0.5s ease-in-out;
}
.light > a {
	color: black;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
.favButton {
	max-height: 3rem;
	font-weight: 600;
	cursor: pointer;
}

h1 {
	text-align: center;
	padding: 0.25rem;
}
a > h1:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	padding: 0.25rem;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	flex-wrap: wrap;
}
nav > ul {
	display: flex;
	padding: 0;
}
ul > li {
	border-radius: 8px;
	list-style: none;
}
ul > li:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
ul > li > a {
	font-size: 1.75rem;
	padding: 0.25rem 0.5rem;
}
a {
	display: flex;
	padding: 0.25rem 0.5rem;
	border-radius: 8px;
	color: #000;
	font-size: 1.25rem;
	font-weight: 600;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid transparent;
}
.card > a > h3,
.card > a > h4,
.card > a > h5 {
	font-size: 1rem;
	margin: 0;
	text-align: center;
}
a:hover {
	text-decoration: none;
}
.detail {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
}

footer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	position: fixed;
	right: 0;
	bottom: 0;
	width: 175px;
	backdrop-filter: saturate(180%) blur(20px);
	border-radius: 8px;
}
.social {
	background-color: transparent;
	display: flex;
	background-color: rgba(0, 0, 0, 0.1);
	max-height: 2.5rem;
	border-radius: 8px;
}
.social > a {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	border-radius: 8px;
}
footer > p {
	margin: 0;
}
.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-items: center;
	max-width: 400px;
	border-radius: 8px;
	margin: 0 auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 3rem;
}

.card-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1rem;
}
.card,
.card2 {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}
.card2 >h3,
.card2 >h4,
.card2 >h5 {
	margin: 0;
	font-size: 1.25rem;
}
.card:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	border-radius: 8px;
}
.card > a > img {
	border-radius: 100px;
	width: 75%;
}
.card > a {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.card-grid > a:hover {
	border: 1px solid #ccc;
}
.card2 > img {
	border-radius: 1000px;
	width: 75%;
}

.success-message {
	margin-top: 3rem;
	background-color: var(--inputs);
	padding: 1rem;
	width: 300px;
	border: 1px solid #17f807;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
